<header class="app-header">
  <div class="header-content">

    <a routerLink="/notas" class="logo">
      <span class="logo__icon"><i class="pi pi-receipt"></i></span>
      NF Sistema
    </a>

    <nav class="header-nav">
      <a routerLink="/notas" routerLinkActive="nav-active" class="nav-link">
        <i class="pi pi-barcode"></i>
        Notas Fiscais
      </a>
      <a routerLink="/produtos" routerLinkActive="nav-active" class="nav-link">
        <i class="pi pi-box"></i>
        Produtos
      </a>
    </nav>

  </div>
</header>
