<header class="app-header">
  <div class="header-content">

    <a class="logo" routerLink="/">
      <i class="pi pi-receipt"></i>
      <span>Nota Fiscal</span>
    </a>

    <nav class="header-nav">
      <a routerLink="/notas" routerLinkActive="nav-active" class="nav-link">
        <i class="pi pi-file-edit"></i>
        Notas Fiscais
      </a>
      <a routerLink="/produtos" routerLinkActive="nav-active" class="nav-link">
        <i class="pi pi-box"></i>
        Produtos
      </a>
    </nav>

    <div class="user-menu">
      <p-button icon="pi pi-user" [text]="true" [rounded]="true" severity="secondary" />
    </div>

  </div>
</header>
